*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stage{
    height: 100vh;
    background-color: #eea849;
    display: flex;
}

canvas{
    background-image: url("./images/lightBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 293px;
   
}

.logo{
    margin: 30px 0 0 40px;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.info{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(40,11,69);
    font-weight: bold;
   
    
}

.infoData{
    display: flex;
    margin-top: 25px;
}

.heart{
    width: 35px;
    margin-right: 20px;
}

.camara{
    width: 45px;
    margin-right: 10px;
}
.clock{
    width: 35px;
    margin-right: 20px;
}

button{
    margin-top: 390px;
    text-decoration: none;
    border-radius: 18px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover{
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;

}
.modal,
.win{
   position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238,168,73,.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content,
.win-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255,255,255,.9);
    padding: 2.5rem 1.5rem;
    width: 600px;
    border-radius: 0.5rem;
    font-size: 18px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.close-button,
.win-button{
    width: 2rem;
    height: 2rem;;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #eea849;
    padding: .5rem;
}

.close-button:hover {
    background-color:#f24437;
}

.win-button:hover {
    background-color:#f24437;;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.winCat{
    width: 400px;
    height: 400px;
}