*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stage{
    height: 100vh;
    background-color: #eea849;
}

canvas{
    background-image: url("./images/lightBack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 293px;
   
}

.logo{
    margin: 30px 0 0 40px;
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}